<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome <%= @user.name %>, to The Astbury May Ball 2013.</h1>
    <p>
      Your username is: <%= @user.email %>, <br/>
    </p>
     <p> and your password is: <%= @password %> <br/>
     </p>
    <p>
      To login to the site and make your meal choices, just follow this link: <%= @url %>.
    </p>
  </body>
</html>
