= render :partial => "shared/header_mast"

.row
  .small-10.large-6.columns
    %p 
      Hello 
      = current_user.name

.row
  .small-10.large-6.columns
    %a.button
      Enter your meal choices
