= render :partial => "shared/header_mast"

.row
  .small-10.large-6.columns
    %p 
      Hello 
      = current_user.name

.row
  .small-10.large-6.columns
    - if current_user.chosen
      = link_to "Edit your meal choices", edit_user_meal_path(current_user), :class => "button"
    - else
      = link_to "Enter your meal choices", edit_user_meal_path(current_user), :class => "button"
