.row
  .small-8.large-6.columns
    %h1 Admin Area
  .large-offset-4.small-offset-0.large-2.small-4.columns
    .sign-in
      = render :partial => "shared/user_links"
      %p
        = link_to "Home", home_path	
