.menu
  .row     
    .large-4.large-offset-1.small-8.small-offset-1.columns.menu-choice
      %h3 Menu
      %h5 Starter
      %p Duck and orange parfait with kumquat chilli jam and red chard salad
      %h5 Main
      %p Garlic and rosemary studded lamb rump with fondant potato and red wine jus
      %h5 Dessert
      %p Sticky toffee pudding with fudge sauce
    .large-4.large-offset-1.small-8.small-offset-1.columns.menu-choice
      %h3 Vegetarian Menu
      %h5 Starter
      %p Sweet tomato and red pepper soup with basil oil
      %h5 Main
      %p Mediterranean vegetable wellington with rosemary and feta cheese
      %h5 Dessert
      %p Sticky toffee pudding with fudge sauce
    .large-2.columns


