- unless current_user
  = link_to "Sign in", new_user_session_path
- else
  = link_to current_user.name, user_path(current_user), :class => "user_name"
  = link_to "Sign out", destroy_user_session_path, :method=>:delete


 
