= render "shared/header_mast"
= render "shared/alert_block"

.row
  .small-10.large-6.columns
    %p 
      %b The Astbury Society invites you to attend a black tie  event:
.row
  .small-10.large-6.columns
    %p 
      %b Venue: 
      The Park Plaza Hotel
.row
  .small-10.large-6.columns
    %p 
      %b Date: 
      10th May 2013
    %p 
      %b Time: 
      7:00pm
.row
  .small-10.large-6.columns
    %p 
      %b Price: 
      £30
.row
  .small-10.large-6.columns
    %p Evening includes: a three course meal, half a bottle of wine or soft drink and entertainment.
.row
  .small-10.large-6.columns
    %p Buy tickets from your nearest society member:

.people
  .row
    =render :partial => "shared/rep", :locals => { :image => "megan.png", :name => "Megan"}
    =render :partial => "shared/rep", :locals => { :image => "sasha.png", :name => "Sasha"}
    =render :partial => "shared/rep", :locals => { :image => "jenny.png", :name => "Jenny"}
    =render :partial => "shared/rep", :locals => { :image => "joe.png", :name => "Joe"}
  .row
    =render :partial => "shared/rep", :locals => { :image => "sophie.png", :name => "Sophie"}
    =render :partial => "shared/rep", :locals => { :image => "kat.png", :name => "Kat"}
    =render :partial => "shared/rep", :locals => { :image => "rachel.png", :name => "Rachel"}
    =render :partial => "shared/rep", :locals => { :image => "ivona.png", :name => "Ivona"}
  .row
    =render :partial => "shared/rep", :locals => { :image => "pete.png", :name => "Pete"}
    =render :partial => "shared/rep", :locals => { :image => "claire.png", :name => "Claire"}
    =render :partial => "shared/rep", :locals => { :image => "valeria.png", :name => "Valeria"}
    .small-6.large-3.columns
 




