body#pretty {
 background: #f7f7f7 url(image_path('back_fuzz_flip.png')) top center no-repeat;
}

#container {
 min-height: 750px;
}

$footer-height: 50px;

footer {
 height: $footer-height;
 
 background: #bbc;
 p {
   color: #ffffff;
   line-height: $footer-height;
 }
}


